.next-enter{
    transform: translateX(-100%) ;
    opacity: 0;
 }
 .next-enter-active , .next-exit, .next-enter-done{
    transform: translateX(0) ;
    opacity: 1;
 }
 .next-exit-active , .next-exit-done{
    transform: translateX(100%) ;
    opacity: 0;
 }
 .next-enter-active,
 .next-exit-active{
    transition: all 500ms;
 }

 .prev-enter{
    transform: translateX(100%);
    opacity: 0;
 }
 .prev-enter-active, .prev-exit{
    transform: translateX(0) ;
    opacity: 1;
 }
 .prev-exit-active{
    transform: translateX(-100%) ;
    opacity: 0;
 }
 .prev-enter-active,
 .prev-exit-active{
    transition: all 500ms;
 }
 .fade-enter{
   opacity: 0;
}
.fade-enter-active , .fade-exit{
   opacity: 1;
}
.fade-exit-active{
   opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
   transition: all 500ms;
}

.scale-fade-enter{
   transform-origin: top ;
   transform: scaleY(0);
   opacity: 0;
}
.scale-fade-enter-active , .scale-fade-exit{
   transform-origin:top;
   transform: scaleY(1);
   opacity: 1;
}
.scale-fade-exit-active{
   transform: scaleY(0);
   opacity: 0;
}
.scale-fade-enter-active,
.scale-fade-exit-active{
   transition: all 200ms;
}


.pop-enter{
   transform: translateY(-2rem) ;
   opacity: 0;
}
.pop-enter-done{
   transform: translateY(1.5rem);
   transition: all 200ms;
   opacity: 1;
}
.pop-exit{
   transform: translateY(1.5rem);
   opacity: 1;
}
.pop-exit-active{
   transform: translateY(-2rem);
   transition: all 200ms;
   opacity: 0;

}

.slide-enter{
   transform: translateX(100%) ;
   opacity: 0;
}
.slide-enter-active , .slide-exit{
   transform: translateX(0) ;
   opacity: 1;
}
.slide-exit-active{
   transform: translateX(100%) ;
   opacity: 0;
}
.slide-enter-active,
.slide-exit-active{
   transition: all 500ms;
}
